.title{margin-top: 40px;color:#444444;font-size: 33px;  display: block;padding: 20px 0px 20px 0px;font-weight: 800}
.descr{font-size: 15px;color: #444444;padding: 20px;}
.panel{display:table;background-color:#FAFAFA;border:1px solid #999999;width:100%;max-width:900px;margin-right: auto; margin-left: auto;}
.panelImgCntr{display:table-cell;width:50%;  vertical-align: top;padding:20px;visibility: visible}
.panelImg{width:100%;margin-top: 45px;text-align:center;vertical-align:middle}
.download-button-container{display:table;margin: 30px 0px 30px 0px;width: 100%;}
.download-button-small{display: none}
.panelFeaturesCntr{display:table-cell;width:50%;padding: 20px;  vertical-align: top;}
.panelMiddleImgCntr{display: none}
.panelMiddleImg{display: none}
.featTitle{font-size: 13px;margin: 0px;color: #444444;display: block;font-weight: bold;}
.featDesc{font-size: 11px;color: #777777;}
.featIcon{width: 38px;height: auto;margin: 4px;}
.downBtn{width:129px;height:45px;}