<footer class="pie">
  <div class="row">
    <div class="large-3 medium-3 small-12 footerLinks columns">
        <div><strong>Nosotros</strong></div> 
        <a href="{{ path('quienes') }}">Acerca</a>
        <a href="{{ path('contacto') }}">Contacto</a>
        <a href="{{ path('terminosCondiciones') }}">Términos y condiciones</a>
        <a href="{{ path('politicaPrivacidad') }}">Política</a>
    </div>
    <div class="large-3 medium-3 small-12 footerLinks columns">
        <div><strong>Para Empresas</strong></div>
        <a href="https://empresas.buscoinfo.com.py" style="font-weight: 500;color: #0072b9;">Agregue su comercio</a>
        <a href="https://empresas.buscoinfo.com.py">Ofrezca sus servicios</a>
    </div>
    <div class="large-3 medium-3 small-12 footerLinks columns">
        <div><strong>Contacto</strong></div>
        <a id="fContactEmail" href="mailto:info@buscoinfo.com.py"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@buscoinfo.com.py</a>
        <a href="https://www.facebook.com/buscoinfopy"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>
        <a href="https://www.instagram.com/buscoinfopy/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
    </div>
    <div class="large-3 medium-3 small-12 footerLinks columns">
        <div><strong>Canales</strong></div>
        <a href="https://www.buscoinfo.com.py">buscoinfo.com.py</a>
        <a target="_blank" href="https://m.me/buscoinfopy" rel="noopener">Messenger</a>
    </div>
  </div>

  <div class="pie-disc">
    <div>
      BuscoInfo Paraguay es una guía nacional de empresas, comercios y servicios profesionales.<br>
      &copy; 2021 | Asunción, Paraguay<br>
    </div>
  </div>
</footer>
