<footer class="pie">
  <div class="row">
    <div class="large-3 medium-3 small-12 footerLinks columns">
      <div><strong>Nosotros</strong></div> 
      <a href="{{ path('quienes') }}">Acerca</a>
      <a href="{{ path('contacto') }}">Contacto</a>
      <a href="{{ path('terminosCondiciones') }}">Términos y condiciones</a>
      <a href="{{ path('politicaPrivacidad') }}">Política</a>
    </div>
    <div class="large-3 medium-3 small-12 footerLinks columns">
      <div><strong>Para Empresas</strong></div>
      <a href="https://empresas.1122.com.uy">Agregue su comercio</a>
      <a href="https://empresas.1122.com.uy">Ofrezca sus servicios</a>
    </div>
    <div class="large-3 medium-3 small-12 footerLinks columns">
      <div><strong>Contacto</strong></div>
      <a href="tel:29001122"><i class="fa fa-phone" aria-hidden="true"></i> 2900 1122</a>
      <a id="fContactEmail" href="mailto:info@1122.com.uy"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@1122.com.uy</a>
      <a href="https://www.facebook.com/guiamovil1122/"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>
      <a href="https://www.instagram.com/1122soluciones/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
      <a href="https://wa.link/eg6lfo"><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp</a>
    </div>
    <div class="large-3 medium-3 small-12 footerLinks columns">
      <div><strong>Canales</strong></div>
      <div style="padding:4px 0px">SMS desde Antel al 1122</div>
      <a href="https://1122.com.uy">1122.com.uy</a>
      {# <a href="/static/lndngapp/index.html">1122 App</a>
      <a target="_blank" href="https://m.me/guiamovil1122" rel="noopener">Messenger</a>
      <a target="_blank" href="https://blog.1122.com.uy" rel="noopener">Blog</a> #}
    </div>
  </div>
  <div class="pie-disc">
      GuíaMóvil 1122 es una guía nacional de empresas, comercios y servicios.<br>
      Costo adicional del servicio por SMS 13 pesos IVA incluido<br>
      &copy; 2021 | Rio Negro 1308 Piso 6, Montevideo, Uruguay<br>
      {% if constant('APPLICATION_ENV') == 'production' %} 
        <img src="https://tracker.metricool.com/c3po.jpg?hash=1b3b276899ac321ee554c59a71777a18" alt="metricool" width="1" height="1" />
      {% endif %}
  </div>
</footer>
