<p>
TINGELMAR S.A. y TINGELMAR PARAGUAY S.A. en adelante denominado LAS EMPRESAS se adhieren a esta declaración de privacidad (la «Declaración»),

que está firmemente comprometida con la protección de su privacidad. Esta Norma establece la forma en que recopilamos, usamos y protegemos

la información personal de las personas que utilizan cualquier sitio web, aplicación o sistemas, propiedad de LAS EMPRESAS.

Esta declaración refleja los requisitos de la legislación de privacidad de la República del Paraguay,

así como nuestro compromiso continuo para proteger su información personal.

AL USAR UN SITIO WEB, APLICACION O SISTEMAS DE LAS EMPRESAS, ACEPTA SOMETERSE A LA SIGUIENTE DECLARACIÓN DE PRIVACIDAD.

SI NO ESTÁ DE ACUERDO CON ÉSTA DECLARACIÓN DEBE ABSTENERSE A TODO USO DE ÉSTE SITIO DE INMEDIATO.
</p>

<p><b>1. ¿Qué es la «información personal»?</b></p>

<p>
La información personal es información acerca de usted, aquella que lo identifica de manera única como un individuo.

Su nombre, dirección, dirección de correo electrónico o número de teléfono, son todos ejemplos de información personal.

Sin embargo, el nombre, dirección y número de teléfono de una persona que aparece en un directorio telefónico disponible al público,

no entra dentro del ámbito de la información personal, ya que es la información a disposición del público.

También, en ciertas circunstancias, alguna de esta información puede calificarse como información comercial que no está cubierta por esta norma.
</p>

<p><b>2. Recopilación de información personal</b></p>

<p>
No recopilamos automáticamente información personal de los usuarios de los sitios web de LAS EMPRESAS sin consentimiento.

La información personal sólo se obtiene en línea si se suministra de manera voluntaria,

por lo general cuando el usuario contacta con nosotros a través de correo electrónico, formularios en línea, respondiendo a encuestas en línea,

la presentación de un anuncio a un blog, foro, o al registrarse para recibir servicios.

Usted no está obligado a proporcionar información personal para ver el contenido de cualquier sitio de LAS EMPRESAS.

También debe tener en cuenta que cuando se comparte información personal en las zonas comunes de un sitio web, aplicaciones o sistemas de LAS EMPRESAS,

esta información puede ser vista y utilizada por otros usuarios. Le instamos a ejercer buen juicio al compartir información personal en estas áreas.

Si decide no proporcionarnos información personal en línea, no hay consecuencias importantes, aunque es posible que no pueda participar en algunas promociones,

recibir información de productos o acceder a las secciones de un sitio web, aplicaciones o sistemas de LAS EMPRESAS que requieren información

o aplicaciones personalizadas. Los sitios, aplicaciones o sistemas de LAS EMPRESAS proporcionan a los usuarios la oportunidad de optar

por no recibir comunicaciones nuestras al momento en que solicitamos información sobre usted al ponerse en contacto con nosotros.

Los sitios web, aplicaciones o sistemas de LAS EMPRESAS pueden utilizar cookies para rastrear los patrones de tráfico del usuario.

Una cookie es un pequeño archivo de datos que algunos sistemas escriben en su disco duro cuando los visita.

La única información personal que una cookie puede contener es información que usted mismo suministró.

Una cookie no puede leer datos de los archivos del disco duro o de las cookies creados por otros sitios web.

LAS EMPRESAS no comparte ni vende a terceros ésta información con datos de usuarios individuales.

Sólo utilizamos cookies para adaptar la experiencia del visitante a los sitios web, aplicaciones y sistemas de LAS EMPRESAS.

Si usted prefiere no recibir cookies de un sitio web de LAS EMPRESAS, puede configurar su navegador para que le avise antes de aceptar cookies y

rechazar la cookie cuando su navegador le avisa de su presencia. También puede rechazar todas las cookies dando la orden a su navegador.

Esto podría afectar a ciertas áreas de los sitios web de LAS EMPRESAS que están disponibles para usted.

Podemos utilizar el software que recibe y registra la dirección de Protocolo de Internet (IP) del equipo que ha contactado con los sitios web de LAS EMPRESAS.

Hacemos esto sin ningún intento de vincular estas direcciones con la identidad de las personas que visitan los sitios web de LAS EMPRESAS.

También podemos utilizar a otros proveedores de servicios para mostrar anuncios de terceros en los sitios web,

aplicaciones o sistemas, o anuncios de LAS EMPRESAS en otros sitios web. En los anuncios que muestran estos proveedores se pueden colocar cookies en su navegador

y pueden recopilar cierta información anónima sobre sus visitas a otros sitios web o en sitios de LAS EMPRESAS.

Esta información puede incluir el tipo de navegador, la dirección IP, nombre de dominio y el nombre de la página Web desde la que se ha accedido

a este tipo de sitios web, la actividad web y hora del día. Esta información es utilizada por estos terceros para comprender mejor y

optimizar las campañas de publicidad en línea.

De vez en cuando, se analiza el tráfico y el uso de los sitios web, aplicaciones  o sistemas de LAS EMPRESAS para determinar qué funciones y

servicios le gusta y no les gusta a los usuarios, para que podamos mejorar lo que hacemos. Preparamos las estadísticas de usuarios agregados o

resúmenes de información con el fin de describir nuestros servicios a terceros, como socios comerciales potenciales y los anunciantes y para otros propósitos legales.
</p>

<p><b>3. Uso e Intercambio de Información Personal</b></p>

<p>
En general, vamos a recopilar y utilizar la información personal para administrar nuestros concursos, promociones, encuestas, programas de recompensa y

otros servicios, para entender las respuestas de nuestros clientes, sus necesidades y preferencias, y para administrar nuestro negocio en general.

También podemos utilizar la información personal para ponernos en contacto con nuestros clientes o proveedores con material promocional sobre nuestros productos,

programas y servicios o para ayudar a nuestro personal de primera línea en el suministro de ofertas de venta adaptadas a nuestros clientes.

Podemos intercambiar o combinar la información personal con datos obtenidos de terceros para los mismos fines.

La información personal puede ser compartida con nuestros agentes, socios o proveedores en relación con los servicios que realizan para nosotros.

Nuestros acuerdos por escrito con dichos agentes, socios y proveedores aseguran que la información personal sólo se puede utilizar para los fines

para los que fue compartido con ellos, y que ellos manejan la información personal de acuerdo con esta Norma.

Algunos de nuestros agentes, socios y proveedores se encuentran fuera de la República del Paraguay y, como tales, están sujetos a las leyes extranjeras,

incluidas las leyes que pueden requerir la divulgación de información personal a las agencias gubernamentales en esos países.
</p>

<p><b>4. Su consentimiento</b></p>

<p>
Al proporcionarnos su información personal, usted da su consentimiento a LAS EMPRESAS, para el uso y divulgación de esa información

tal como se describe en esta Declaración o en sus posteriores versiones modificadas, o como se describe antes o en el momento de la recolección,

uso o divulgación, según sea el caso. Si no desea que su información personal sea recolectada, utilizada o revelada de esta manera,

entonces por favor, siga las instrucciones a continuación:

- No enviar su información personal a LAS EMPRESAS;

- Abstenerse de ejercer procedimientos opt-in (activación opcional) descritos anteriormente o como se puedan ofrecer en el momento de la recolección.

- Ejercer la activación de los procedimientos opt-out (desactivación opcional) descritos anteriormente o como se ofrezcan en el momento de la recolección, o

Si ha enviado información personal a LAS EMPRESAS y desea retirar su consentimiento para su retención, uso o divulgación,

por favor envíe un correo electrónico a info@buscoinfo.com.py. Usted puede retirar su consentimiento, sujeto a restricciones legales o contractuales y aviso razonable.

Si retira su consentimiento, es probable que usted no pueda ser capaz de recibir ciertos servicios u ofrecer algunos productos.

Cuando lo permita o requiera la ley, podemos recopilar, usar o divulgar su información personal sin su consentimiento, por ejemplo,

para cumplir con un requerimiento legalmente permitido a través de consultas o pedidos de informes realizados por una agencia gubernamental, o para cumplir con una orden judicial.
</p>

<p><b>5. Almacenamiento y Retención</b></p>

<p>
Utilizamos medidas de seguridad físicas, organizativas y tecnológicas para proteger su información personal contra el robo, pérdida o acceso no autorizado,

uso, modificación, divulgación o eliminación. En términos generales, se puede visitar los sitios web de LAS EMPRESAS sin revelar información personal.

Sin embargo, dado que los datos presentados electrónicamente no es 100% segura, no damos ninguna garantía en cuanto a la seguridad de

cualquier información personal que envíe en línea, haciéndolo usted bajo a su propio riesgo.
</p>

<p><b>6. Condiciones de Uso y Cambios en esta Norma</b></p>

<p>
El uso de los sitios web, aplicaciones o sistemas de LAS EMPRESAS, y cualquier disputa que surja de ella, está sujeta a esta declaración y

se rige por las condiciones de uso, incluyendo su elección de disposiciones legales. Nos reservamos el derecho de modificar y actualizar

las políticas en el presente documento, en el cual se harán cambios cuando sea apropiado, en el momento oportuno.

Le recomendamos revisar periódicamente nuestras Políticas para asegurarse de que está al tanto de cualquier cambio que le hayamos hecho.
</p>

<p><b>7. Acceso y Contacto</b></p>

<p>
Previa solicitud por escrito, LAS EMPRESAS proporcionará acceso a su información personal, sujeto a ciertas excepciones y

a lo dispuesto en la legislación aplicable. Si se observa cualquier error u omisión en la información personal,

por favor avísenos por escrito y vamos a corregir rápidamente cuando sea apropiado. Si tiene alguna preocupación con respecto a nuestra declaración,

por la seguridad de su información personal o nuestra conformidad con la legislación de protección de la información personal que sea necesario, por favor,

envíe una breve explicación de su inquietud a info@buscoinfo.com.py o por nota firmada en dos ejemplares a Narciso Colman 1488 esq. Cecilio da Silva, Asunción, Paraguay.
</p>