<p><b>Antecedentes</b></p>
<p>
Tingelmar S.A. es una empresa que desarrolla sistemas, aplicaciones y plataformas tecnológicas

con el fin de dar servicios de comunicación e información a los usuarios, utilizando múltiples accesos

(SMS, Web, Móviles, Redes Sociales, etc.). Tingelmar S.A. es una empresa uruguaya, que

desarrolla el despliegue en cada país en acuerdo con un socio comercial local.

Para la gestión y presentación del canal de comunicación y distribución de la información,

Tingelmar S.A. captura, recibe los datos en formatos diversos y provistos por varias fuentes,

como ser: sitios web, apis de terceros, usuarios, clientes comerciales, aliados comerciales,

fuerza de venta propia y de terceros, entre otras y no en forma limitativa.

Tingelmar Paraguay S.A., el socio comercial, es una empresa local que tiene la licencia de uso

del software desarrollado por Tingelmar para la República del Paraguay y que también captura y

recibe datos en formatos diversos asociados a su actividad de venta a los comercios y promotores,

en adelante Comercializadora Local.
</p>
<p>
Ambas, en adelante se hará referencia a LAS EMPRESAS, que gestionan el servicio multiplataforma y

multiaplicaciones comercialmente, por lo que se consideran solidarios en cuanto a las condiciones de uso,

política de privacidad, términos y condiciones comerciales.

En adelante, se hará referencia a LOS SERVICIOS como todas las funcionalidades que el canal de comunicación y

la distribución de información que se brinden a través de las plataformas provistas por Tingelmar.
</p>

<p><b>Propiedad Intelectual</b></p>
<p>
LAS EMPRESAS, tienen el derecho intelectual y comercial de toda la información del país correspondiente y

que sea procesada en sus plataformas, ya sea que las mismas provengan de terceras fuentes, los usuarios,

los comercios y toda persona física o jurídica que provea datos a ser procesados.
</p>

<p><b>Usuarios</b></p>

<p>
Los usuarios de LOS SERVICIOS podrán acceder a consultar y gestionar información, e interactuar con las plataformas.

Estas zonas de interacción se llamarán de aquí en más Áreas De Interacción. LOS SERVICIOS consumirán todo Dato,

Comentario, Consultas, Ubicación y otros que se generen debido a la interacción del usuario con la plataforma

con el fin de poder brindarle servicios de buena calidad y orientados a sus gustos e intereses.

El usuario acepta cumplir con todos los documentos y políticas que forman parte integrante de los presentes Términos y Condiciones y Anexos,

al utilizar los Servicios de LAS EMPRESAS. Por lo cual, deberá leer y entender éste documento y sus documentos anexos,

y en caso de estar de acuerdo con los mismos aceptarlos al momento del registro como usuario de la plataforma.

En caso de no registro por parte del usuario, se considera que el usuario lo ha aceptado por el sólo uso de la plataforma.
</p>

<p><b>Comercios</b></p>

<p>
Los Comercios, Empresas, Promotores o Locales son quienes tienen su información en la plataforma y

pagan una suscripción por tener las diversas funcionalidades de la plataforma.

LAS EMPRESAS, relevarán los datos del comercio del dominio público y lo complementarán con información especial

que el mismo Comercio quiera incorporar en caso de que se suscriba a la plataforma.

Los comercios suscriptos, dispondrán de una consola para la correcta gestión de su información y contacto con los usuarios.

El Comercio se hace responsable de la información que publica en la plataforma, sus beneficios y frente a cualquier reclamo

que los usuarios puedan realizar por la publicación de la información.
</p>

<p><b>Promotores</b></p>

<p>
Los Promotores son empresas u organizaciones que ofrecen planes de fidelización, promociones y

descuentos de comercios adheridos, a sus usuarios. Los Promotores pueden exigir la tenencia de un

pase para redimir los beneficios. LAS EMPRESAS relevarán los datos de los planes de los Promotores

del dominio público y lo complementarán con información especial que el mismo Promotor quiera incorporar

en caso de que se suscriba a la plataforma.
</p>

<p><b>Aliados Comerciales</b></p>

<p>
Los Aliados Comerciales, son empresas, organizaciones o microempresas, que desarrollan las relaciones

con la comunidad en su zona de influencia, definida y acordada por LAS EMPRESAS.

Facilitan la comunicación de la plataforma, asesoran a los comercios y gestionan la información relevante de su zona.
</p>

<p><b>Autorizaciones especiales de uso</b></p>

<p>
LAS EMPRESAS podrán permitir el uso del contenido gestionado en las plataformas solo con previa autorización de las mismas,

pero en caso de que un tercero utilice sistemas automáticos de descarga de información, sin previa autorización,

deberá incorporar en la información compartida la leyenda: por Tingelmar, con el logo que se adjunta en el presente documento según el país.

En caso de incumplimiento, LAS EMPRESAS se reservan el derecho de hacer valer la propiedad intelectual del compilado de esta información.
</p>

<p><b>Requisito general de uso</b></p>

<p>
Para ser usuario de la presente plataforma, se deberá tener la capacidad legal para contratar, por lo tanto,

aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos.

Sin embargo, pueden hacerlo a través de los padres o tutores; y en el caso de persona jurídica,

la persona que se registra en representación de la empresa, deberá acreditar su capacidad para actuar por ella,

con la exhibición de la documentación legal pertinente.
</p>

<p><b>Registro, Cuenta Empresa</b></p>

<p>
Para formar parte de la presente plataforma, se deberá completar el formulario de inscripción en todos los campos obligatorios.

Se deberán dar los datos de forma completa y veraz; teniendo el usuario que realizar su actualización o modificación.

Las políticas de privacidad están en otro documento que forma parte de los términos y condiciones y que es aceptado por el usuario.

LAS EMPRESAS podrán requerir cualquier documentación pertinente para acreditar la capacidad para contratar y para corroborar los datos brindados.

En el caso que el usuario se niegue a dar la documentación solicitada, se lo podrá suspender hasta poder corroborar que la información es correcta.

En el caso que el usuario ya tenga datos, información, productos publicados y/o ofertas realizadas, se podrá suspender dicha información,

productos y ofertas, sin derecho a ningún tipo de reparación. El usuario tendrá una Cuenta Empresa, a la cual accederá

a través del ingreso de su Usuario y la Clave de Seguridad personal que escoja.

La cuenta es personal, intransferible y única; debiendo mantener la Clave de Seguridad en estricta confidencialidad.

En caso de necesitarse más de una cuenta para una misma empresa, la Comercializadora Local determinará

una cuenta master que podrá activar cuentas subordinadas.

El usuario es exclusivo responsable por el uso de su cuenta, no teniendo ningún tipo de responsabilidad LAS EMPRESAS.

El usuario debe comunicar inmediatamente a la Comercializadora Local, si algún tercero ingresa a su cuenta sin su autorización.

Ante dicho reclamo LAS EMPRESAS le proveerá otra cuenta, quedando automáticamente eliminada la anterior.
</p>

<p><b>Registro, Cuenta Personal</b></p>

<p>
Para acceder a todas las funcionalidades de la presente plataforma, se deberá completar el formulario de inscripción

en todos los campos obligatorios y/o compartiendo registro de otros servicios. Se deberán dar los datos de forma completa y veraz;

teniendo el usuario que realizar su actualización o modificación. Las políticas de privacidad están en otro documento

que forma parte de los términos y condiciones y que es aceptado por el usuario.
</p>
<p>
LAS EMPRESAS podrán requerir cualquier documentación pertinente para acreditar la capacidad para contratar y para corroborar los datos brindados.

En el caso que el usuario se niegue a dar la documentación solicitada, se lo podrá suspender hasta poder corroborar que la información es correcta.

En el caso que el usuario ya tenga datos e información registrada, se podrá suspender dicha información y accesos sin derecho a ningún tipo de reparación.

El usuario tendrá una Cuenta Persona, a la cual accederá a través del ingreso de su Usuario y la Clave de Seguridad personal que escoja.

La cuenta es personal, intransferible y única; debiendo mantener la Clave de Seguridad en estricta confidencialidad.

En caso de detectarse más de una cuenta para una misma persona, Tingelmar determinará a su exclusivo criterio la sanción a aplicar que,

según el caso, puede ir desde la eliminación de una de las cuentas, la suspensión provisional del usuario o la inhabilitación definitiva del mismo.

El usuario es exclusivo responsable por el uso de su cuenta, no teniendo ningún tipo de responsabilidad LAS EMPRESAS.

El usuario debe comunicar inmediatamente a la Comercializadora Local, si algún tercero ingresa a su cuenta sin su autorización.

Ante dicho reclamo LAS EMPRESAS le proveerá otra cuenta, quedando automáticamente eliminada la anterior.
</p>

<p><b>Publicación de datos, información, bienes y servicios</b></p>

<p>
El comercio, empresa o promotor, deberá publicar el bien y/ o servicio que ofrece en la categoría y subcategoría pertinente.

La publicación deberá cumplir con las exigencias de la ley de defensa del consumidor, debiendo contener información suficiente,

clara, veraz, en idioma español (sin perjuicio que se puede utilizar adicionalmente otro idioma), acerca de la características,

origen, cantidad y calidad del producto; como así también, si corresponde, si tiene garantía.
</p>
<p>
La información podrá contener descripciones, fotografías, y cualquier otro dato pertinente para la venta del producto o servicio.

Las imágenes y/o fotografías que se publiquen deben tener relación con el producto/servicio que se vende/ofrece; de lo contrario no serán publicadas.

En caso de que el aviso publicado sea inventariado, deberá contener el precio del producto incluido los impuestos si corresponde; forma de pago;

como así también todo otro dato adicional acerca de gastos extras si los hubiere.
</p>
<p>
En el caso de la publicación de determinados servicios, se deberá publicar: nombre y domicilio del proveedor del servicio; naturaleza, cantidad,

calidad y características del servicio que brinda; el precio incluido los impuestos y forma de pago, y cualquier otro gasto adicional;

garantía y extensión de la misma. La oferta que se efectúe a través del presente sitio vincula a quien la emite y aquel que la utiliza

por el tiempo que se realice la misma. En el caso que se quiera revocar la oferta, se deberá difundir de la misma forma que la oferta,

y no podrá perjudicar a ningún comprador que haya aceptado con anterioridad la oferta.

El consumidor de productos y/o servicios tendrá derecho a rescindir el contrato en el plazo de cinco días hábiles,

o en conformidad a lo previsto por las leyes del país en cuestión.
</p>
<p>
No se podrán publicar aquellos bienes que estén prohibidos su comercialización, por ser contraria a las buenas costumbres o al orden público.

Asimismo, no se podrán poner a la venta aquellos productos que se exigen determinados requisitos legales especiales para su comercialización,

ni se podrá incluir datos de contactos personales en las publicaciones de los productos y/o avisos.
</p>

<p><b>Obligaciones de los usuarios. Responsabilidad</b></p>

<p>
El usuario se obliga a hacer uso del sitio en forma diligente, razonable y sensata, no causando ningún perjuicio a otros usuarios,

ni al sistema de seguridad del sitio; prohibiéndose el envío de spam, correo no deseados,

virus o cualquier otra conducta violatoria de los usos honestos de Internet.
</p>
<p>
Se prohíbe el uso indebido del sitio; debiéndose el usuario utilizarla con la única finalidad de consultar, interactuar, comprar y/o vender productos y/o servicios.

LAS EMPRESAS es un nexo entre: I) el comprador y el vendedor, II) el ciudadano y el gestor de información y III) entre y dentro de comunidades,

sin tener ningún tipo de participación en ninguna etapa de la venta de un producto y/o servicio y/o comunicación; ni en la etapa precontractual,

ni en el perfeccionamiento, ni en la ejecución del negocio o comunicación.
</p>
<p>
LAS EMPRESAS no aseguran al usuario un volumen determinado de ventas de productos y/o de servicios, comunicaciones ni interacciones,

no siendo responsable por la cantidad de operaciones que efectúe el usuario.

LAS EMPRESAS no garantizan que los datos de los usuarios sean veraces; tampoco garantiza la legitimidad, propiedad, calidad, naturaleza,

cantidad y características del producto y/o servicio y/o información ofrecida.

LAS EMPRESAS no tienen ninguna responsabilidad por las compraventas ni por los servicios que perfeccionen a través de su sitio,

ni por las informaciones brindadas, debiendo cada uno de los usuarios cumplir con sus respectivas obligaciones en su calidad de vendedor
y/o comprador de un producto y/o servicio o proveedor de información.

El usuario deberá comportarse diligentemente, adoptando los recaudos necesarios para evitar cualquier tipo de inconveniente con otro usuario y/o tercero.

El usuario que venda algún producto y/o presté algún servicio, deberá pagar los impuestos que corresponda de acuerdo a la legislación vigente;

debiendo facturar si así lo exige la ley. En ningún caso LAS EMPRESAS tendrán responsabilidad por el no pago de los impuestos correspondientes,

siendo de exclusiva responsabilidad del usuario.

LAS EMPRESAS no responden por ningún tipo de daño (daño emergente, lucro cesante, daño moral) que, por el uso del sitio, se le ocasione a un usuario y/o a otro tercero.

LAS EMPRESAS no son responsables si por razones de fuerza mayor, ajena a su voluntad, no se puede utilizar el sitio de forma momentánea.

No respondiendo por ningún daño que dicha circunstancia le pueda aparejar a un usuario y/o tercero.

El usuario es responsable del contenido que publica en el sitio de LAS EMPRESAS, debiendo responder de forma exclusiva si el contenido

infringe normas de propiedad intelectual o cualquier otra norma jurídica vigente en la República del Paraguay o al país en que se desarrolla el servicio,

exonerando de responsabilidad a LAS EMPRESAS.
</p>

<p><b>Sanciones</b></p>

<p>
LAS EMPRESAS aplicarán sanciones en caso de constatar irregularidades por parte de los usuarios que afectan a otros usuarios y/o terceros.

Las sanciones podrán ser de distinto tipo; podrá consistir en un apercibimiento, la suspensión provisional de un usuario o en la inhabilitación definitiva de un usuario.

La sanción se aplicará de acuerdo a la gravedad de la infracción del usuario, será aplicada unilateralmente por LAS EMPRESAS y será inapelable.
</p>

<p><b>Derechos </b></p>

<p>
Tingelmar S.A. es propietario del nombre de dominio buscoinfo.com y los dominios locales correspondientes, y de todo el contenido del sitio web que no corresponda al usuario,

consistente en: secciones, informaciones, imágenes, logos, etcétera, estando protegido dicho contenido por la constitución nacional y leyes de la República del Paraguay.

El usuario únicamente podrá utilizar el sitio para vender y/o comprar los bienes y/o servicios que se publican en el mismo o brindar información relevante.

Ningún usuario ni tercero podrá utilizarlo con otra finalidad comercial, ni tampoco copiar la información de su plataforma para la utilización en otra página web

o servicios con semejante o diferente finalidad que perjudique de forma directa o indirecta a la empresa.

Los sitios que estén enlazados al de LAS EMPRESAS no son propiedad de ellas, no teniendo ninguna responsabilidad con respecto al contenido de los mismos.
</p>

<p><b>Calificaciones </b></p>

<p>
En el presente sitio los usuarios deberán calificar al otro usuario en su calidad de vendedor y/o comprador y/o simplemente como usuario.

A través de dichas calificaciones se va estableciendo una reputación y perfil del usuario. El usuario es exclusivo responsable por el contenido de dicha calificación.

LAS EMPRESAS no verificarán ni el contenido ni la exactitud de la calificación efectuada por el usuario, no teniendo ninguna responsabilidad respecto de la misma.

El usuario en su calificación deberá referirse a si se concretó o no la venta, y, si estima pertinente, emitir alguna opinión acerca del otro usuario

y/o de los productos o servicios que hubieran sido adquiridos. La opinión que emita deberá ser en términos correctos,

siendo exclusivo responsable por la utilización de cualquier tipo de término inapropiado.

El usuario tendrá acceso a las calificaciones que se le efectúen, pudiendo, bajo su exclusiva responsabilidad, realizar réplicas a los comentarios efectuados por otro usuario.
</p>

<p><b>Tarifa del Servicio</b></p>

<p>
El servicio general es gratuito para los usuarios. Solo en caso de consultas por SMS, de transacciones o en servicios premiums el usuario procederá a pagos,

en cuya situación será avisado en forma previa a concretar el pago.

A los Comercios y Promotores, se le cobrará una suscripción de acuerdo a la publicación que realice y plan que se adhiera,

como ser el tipo de publicación, su destaque, cantidad de productos, y otras variables que se tendrá en cuenta en el momento de fijación de la tarifa.

El no pago de los servicios prestados dará lugar a la suspensión del comercio hasta el efectivo pago.

Lo anterior, es sin perjuicio de las acciones judiciales y/o extrajudiciales que se efectúen para el cobro de las sumas adeudadas.
</p>

<p><b>Modificaciones</b></p>

<p>
El presente documento de términos y condiciones podrá ser modificado por LAS EMPRESAS cuando lo estimen pertinente,

quedando comunicado el usuario desde el instante mismo en que se actualice el documento en el sitio.

El uso del sitio con posterioridad de la actualización, se interpretará como aceptación tácita de los cambios de los términos y condiciones y las políticas de uso.
</p>

<p><b>Jurisdicción. Ley. Domicilio.</b></p>

<p>
La jurisdicción competente será la de los Tribunales de la Capital, Asunción, Paraguay, quedando pactada la prórroga de competencia.

La ley aplicable es la de la República del Paraguay y el domicilio para comunicaciones es en Narciso Colman 1488 esq. Cecilio da Silva, Asunción, Paraguay.
</p>