{% if showAboveButtons %}
  <div style="display: flex;padding: 5px 10px 10px 10px;justify-content: space-between;align-items: center;">
    <div id="cancelSearch" style="color: #555;">Cancelar</div>
    <div id="doSearch" style="font-weight: 500;color: #159de1;">Buscar</div>
  </div>
{% endif %}
<form id="searcher-form" class="camposbuscador {% if showAboveButtons %}camposbuscador-btnabove{% endif %}">
  <label class="rubro">
    <input type="text" placeholder="Productos & Servicios" id="search-rubroNombre" maxlength="50">
  </label>
  <label class="zona" style="position: relative;">
    <input type="text" placeholder="Zona" id="search-zonaNombre" maxlength="50">
    <i id="cross" class="fa fa-crosshairs" style="position: absolute;right: 8px;cursor: pointer;top: 8px;font-size: 19px;color: #777;"></i>
  </label>
  {% if not showAboveButtons %}
    <a href="#" aria-label="Buscar">
      {% if isMobile %}
      <span>Buscar</span>
      {% endif %}
      <i class="fa fa-search"></i>
    </a>
  {% endif %}
  <input type="submit" style="display: none" />
</form>