.title{margin-top: 40px;color:#444444;font-size:xx-large;display: block;padding: 10px 0px 40px 0px;font-weight: 900}
.descr{font-size: larger;color: #444444;padding: 20px;}
.panel{display:table;background-color:#FAFAFA;border:1px solid #999999;width:100%;max-width:900px;margin-right: auto; margin-left: auto;}
.panelImgCntr{display: none}
.panelImg{display: none}
.download-button-container{display: none}
.panelFeaturesCntr{display:table-cell;width:100%;padding: 20px;  vertical-align: top;}
.panelMiddleImgCntr{vertical-align: top;padding:20px;visibility: visible}
.download-button-small{display:table;margin: 30px 0px 30px 0px;width: 100%;}
.panelMiddleImg{height:500px;min-width:380px;margin-top: 15px;text-align:center;vertical-align:middle;visibility: visible}
.featTitle{font-size: xx-large;margin: 0px;color: #444444;display: block;font-weight: bold}
.featDesc{font-size: xx-large;color: #777777;}
.featIcon{width: 60px;height: auto;margin: 4px;}
.downBtn{width:193px;height:67px;}